
@{
    ViewBag.Title = "Loginsuccess";
}

<h2>Loginsuccess</h2>


@{
    ViewBag.Title = "success";
}

<div class="container">
    <div class="jumbotron">
        <h1 style="color:forestgreen;">თქვენ წარმატებით შეხვედით სისტემაში  </h1>

    </div>

</div>